<!DOCTYPE html>
<html>
	<head>
		<title>Campground Reveiws</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body>

		<nav class="navbar navbar-toggleable-md navbar-light bg-faded mb-4">
			<div class="container nav-container">
	  			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    			<span class="navbar-toggler-icon"></span>
	  			</button>
	  			<a class="navbar-brand" href="/campgrounds">
    			<img src="https://cdn3.iconfinder.com/data/icons/travelling-icon-set-ii-part/800/tent-48.png" width="30" height="30" class="d-inline-block align-top mr-1" alt="">
    			<span class="site-name">Campground Reviews</span>
  				</a>

	  			<div class="collapse navbar-collapse ml-3" id="navbarSupportedContent">
	    			<ul class="navbar-nav mr-auto">
	      				<li class="nav-item">
	        				<a class="nav-link" href="/campgrounds">Campgrounds</a>
	      				</li>
	      				<li class="nav-item">
	        				<a class="nav-link" href="/campgrounds/new">Submit New</a>
	      				</li>
	    			</ul>
	    			<form class="form-inline my-2 my-lg-0">
	    				<% if(!currentUser) { %>
	    					<a class="btn btn-outline-info my-2 my-sm-0 mr-0" href="/login">LogIn</a>
	      					<a class="btn btn-outline-success my-2 my-sm-0" href="/register">SignUp</a>
	    				<% } else { %>
	    					<p class="my-2 mr-3 my-sm-0">Signed in as <%= currentUser.username %></p>
	    					<a class="btn btn-outline-warning my-2 my-sm-0" href="/logout">Logout</a>
	    				<% } %>
	    			</form>
	  			</div>
  			</div>
		</nav>

		<div class="container mb-4">
			<% if (error && error.length > 0) { %>
				<div class="alert alert-danger text-center" role="alert">
	  				<strong>Oh snap!</strong> <%= error %>
				</div>
			<% } %>
			<% if (success && success.length > 0) { %>
				<div class="alert alert-success text-center" role="alert">
  					<%= success %>
				</div>
			<% } %>
		</div>





























		

