<% include partials/header %>

<% campgrounds.forEach((campground => { %>
	<div>
		<p>Name: <%= campground.name %></p>
		<img src="<%= campground.image %>">
	</div>
<%	})) %>

<% include partials/footer %>