<!DOCTYPE html>
<html>
    <head>
        <title>Campsight Reviews</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
    </head>
    <body>
    
    	<div id="landing-header">
 			<h1 class="landing-header">Welcome to Campsight Reviews</h1>
            <h6 class="search-header">Search for your favorites!</h6>
            <form class="search-form" action="/campgrounds" method="GET">
            <div class="justify-content-center">
                <input class="form-control search-input" type="search" name="search" placeholder="Enter keywords...">
                <input class="btn btn-info search-btn" type="submit" name="" value="Search">
            </div>
            </form>
            <h6 class="search-header">Or</h6>
			<a href="/campgrounds" class="btn btn-lg btn-success">View All Campgrounds</a>
    	</div>
    	<ul class="slideshow">
	      <li></li>
	      <li></li>
	      <li></li>
	      <li></li>
	      <li></li>
    	</ul>

<style type="text/css">
    .footer {
        display: none;
    }
</style>
<% include partials/footer %>

