<% include partials/header %>

<div class="container">
	<div class="row justify-content-center">
		<h1 class="text-center my-4 new-campground-heading col-12">Submit a New Campground</h1>

		<form class="new-campground-form mt-2 col-md-8" action="/campgrounds" method="POST">
			<div class="form-group newCampNameForm">
				<label for="name">Name of the campground</label>
				<input class="form-control" id="name" type="text" name="name">
			</div>
			<div class="form-group newCampSummary">
	    		<label for="campSummary">A short summary of your camping experience</label>
	    		<textarea class="form-control" id="campSummary" rows="3"></textarea>
	  		</div>
	  		<div class="form-group newCampImage">
	  			<label for="image">Enter an Image URL</label>
				<input class="form-control" id="image" type="text" name="image">
			</div>
			<button class="btn btn-primary" type="submit">Submit</button>
		</form>
	</div>
</div>

<% include partials/footer %>

<script type="text/javascript" src="/scripts/script.js"></script>