<% include ./partials/header %>

	<h1 class="text-center mt-3">Sign Up for a New Account</h1>

	<form class="login-form mt-5 mb-2" action='/register' method="POST">
		<div class="form-group">
			<input class="form-control" type="text" name="username" placeholder="username">
		</div>
		<div class="form-group">
			<input class="form-control" type="password" name="password" placeholder="password">
		</div>
		<div>
			<button class="btn btn-primary mt-1 login-btn" type="submit" name="">Register</button>
		</div>
	</form>
	<a class="goback" href="/login">Login</a>
	<a class="goback" href="/campgrounds">Go Back</a>

<% include ./partials/footer %>