<% include partials/header %>

<h1>This is the show template</h1>
<p><%= campground.name %></p>
<img src="<%= campground.image %>">
<p><%= campground.location %></p>
<p><%= campground.description %></p>
<a href="/campgrounds">Go Back</a>

<% include partials/footer %>