/****************************/
/* UNIVERSAL STYLES */
/****************************/

.site-name {
	font-size: 22px;
}

.nav-item {
	font-size: 14px;
	margin-top: 3px;
}

.navbar form input,
.navbar form a {
	padding: 7px;
	font-size: 11px;
	transition: all .35s ease-in-out;
}

.navbar form a.btn-outline-info {
	border-right: none;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	cursor: pointer;
}

.navbar form a.btn-outline-success {
	border-left: none;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	cursor: pointer;
}

.navbar form a.btn-outline-warning {
	cursor: pointer;
}

.navbar form input {
	max-width: 100px;
}

/****************************/
/* INDEX */
/****************************/

.index-card {
	margin-bottom: 25px;
}

.index-card-img-top {
	width: 100%;

}

.index-card-block a {
	font-size: 11px;
	max-width: 100%;
}

.index-card-block p {
	font-size: 13px;
	max-width: 100%;
}

/****************************/
/* SHOW */
/****************************/
.editBtn {
	display: inline-block;
}

.deleteForm {
	display: inline-block;
}

.deleteBtn {
	cursor: pointer;
}


/****************************/
/* NEW CAMPGROUND FORM */
/****************************/

.new-campground-heading {
	font-size: 26px;
}

.new-campground-form {
	font-size: 14px;
}

.new-campground-form button,
.new-campground-form a {
	font-size: 14px;
	padding: 6px;
	cursor: pointer;
}

.form-group input,
.form-group textarea {
	font-size: 12px;
}







/* Fixes responsive navbar centering in xs */
@media screen and (max-width: 575px) {
    .nav-container {
        margin-left: 0;
        margin-right: 0;
    }
}
















